.replit

.replit.md

.env

.local

node_modules/
dist/
build/
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.iml
*.bak
*.old
*.orig
*.rej
*.swo
*.swn

caddy-config/
caddy-data/